html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.header{
    background: #6A8E99;
    height: 7%;
    color: #fff;
   padding: 10px ;

 } 

 .header-logo{
   float: left;
   font-size: 30px ;
      /*    top right button left*/
  
 }

 
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
    height: 100%;
  }
  
  .menu {
    background: #61778C;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 45px;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.1s ease-in;
    transition-delay: 0.3s;
  }
  
  .contents {
    background: #eee;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 45px;
  }
  
  .brand {
    height: 70px;
    background-image: url('assets/images/logo.svg');
    background-size: 150px 30px;
    background-repeat: no-repeat;
    background-position: left 12px center;
  }
  
  .menu-item .fa {
    font-size: 19px;
    width: 45px;
    text-align: center;
  }
  
  .menu-item {
    line-height: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .menu-item:hover {
    background: #4F6273;
  }
  
  .menu:hover {
    width: 200px;
  }

 .footer{
   background: rgb(59, 56, 56);
   color: rgb(112, 111, 111);
 }

.button{
    color: #fff;
    background: #2c366d;
    border: 2px solid #2c366d;
    padding: 0 40px;
    line-height: 40px;
    font-size: 21px;
    margin: 10px;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

}
  
.button::after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
}

.button:hover {
    color:  #46BED6;
    
    border-color:  #46BED6;
}

.button:hover::after{
    background: #FFF;
    transform: scale(1);
}

.button,
.button::before,
.button::after{
    box-sizing: border-box;
    transition: all 0.3s;
}

.button::before, 
.button::after{
     content: "";
      display: block;
       position: absolute;
        z-index: -1; 
    }
